.Nav{
    height: 200px;
    width: 200px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: chocolate;
    border: 5px solid black;
    border-radius: 10px;
}
